<div class="manager-dashboard">

  <div class="manager-dashboard-sidebar">
    <div class="manager-dashboard-menu">
      <h5><strong><u> Missions</u></strong></h5>
      <br>
      <h5> Bateaux</h5>
      <br>
      <h5>Propriétaires</h5>
      <br>
    </div>
  </div>

  <div class="manager-dashboard-part-right">
    <div class="manager-dashboard-part-right-header">
      <h1>Mes Missions</h1>
      <h4>Bonjour <%= current_user.first_name %></h4>
      <p>Vous avez <%= @bookings.count %> missions en cours.</p>
    </div>

    <svg class="fond-rose-manager" viewBox="0 0 818 151" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M818 69.6782V151H0C0 151 92.9189 132.909 336 118C579.081 103.091 619.133 3.25894 687.5 1C755.867 -1.25894 818 69.6782 818 69.6782Z" fill="#FFE6CE"/>
    </svg>



    <div class="manager-bookings">
      <% @bookings.each do |booking| %>

        <div class="booking-card">
          <div class="booking-card-img-container">
            <%= cl_image_tag booking.boat.photo, class: "booking-card-img" %>
          </div>
          <div class="booking-card-info">
            <p><img src="https://image.flaticon.com/icons/svg/1096/1096713.svg" alt=""><strong> Mission : </strong><%=  booking.title %></p>
            <p><img src="https://image.flaticon.com/icons/svg/1852/1852551.svg" alt=""><strong> Bateau : </strong><%=  booking.boat.name %></p>
            <p><img src="https://image.flaticon.com/icons/svg/252/252025.svg" alt=""><strong> Port : </strong><%=  booking.boat.address %></p>
            <p><img src="https://image.flaticon.com/icons/svg/1077/1077012.svg" alt=""><strong> Réservée par : </strong><%= booking.boat.owner.first_name %></p>
            <p><img src="https://image.flaticon.com/icons/svg/1142/1142792.svg" alt=""><strong> À effectuer pour le : </strong><%= booking.date.strftime("%d-%m-%Y") %></p>
          </div>
          <div class="booking-card-cta">
            <%= link_to "Gérer", edit_booking_path(booking), class: "button" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

