<div class="form-container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-left">
      <div class="content-left date">
        <h1>Votre panier</h1>
        <p>Choisissez votre date et réservez sans plus attendre !</p>
        <div class="table-date">
          <p>Offre : <%= @booking.title %></p>
          <p>Prix TTC : <%= @booking.amount %>€</p>
          <div class="update-booking-date">
              <%= render 'bookings/update-date', booking: @booking %>
          </div>

          <%= form_tag  package_booking_payments_path(@package, @booking), class: 'd-none', id: 'package-payment-form' do %>
            <!-- Commented for the lecture, remove comments. -->
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="My Package"
              data-email="<%= current_user.email %>"
              data-description="Package <%= @booking.title %>"
              data-amount="<%= @booking.amount_cents %>"
              data-currency="<%= @booking.amount.currency %>"></script>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-right-user">
      <div class="form-text-image">
      </div>
    </div>
  </div>
</div>
