
<div class="dashboard-user">

  <div class="dashboard-header">
    <h1>Mon tableau de bord</h1>
    <p> Bienvenue à bord <%= current_user.first_name %> !</p>
  </div>

<svg width="1024" height="118" viewBox="0 0 1023 118" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1023 28.0001V118H-9.5C-9.5 118 203.5 73.5 465 73.5C726.5 73.5 794 -17 920.5 4.00001C1047 25 1023 28.0001 1023 28.0001Z" fill="#FFD582"/>
</svg>

  <div class="mosaic-boat-user">
    <% if @last_visit.present? %>
      <div class="mosaic-container">
        <% if @last_visit.pictures.length > 0 %>
          <div class="mosaic-left">
            <% @last_visit.pictures.each do |picture | %>
              <%= cl_image_tag picture.photo, crop: :fill %>
            <% end %>
            <% if @last_visit.pictures.length < 5 %>
              <% (5 - @last_visit.pictures.length).times do %>
                <%= image_tag "camera.png", crop: :fill %>
              <% end %>
            <% end %>
          </div>
          <div class="mosaic-right">
            <%=cl_image_tag @last_visit.pictures[0].photo, crop: :fill %>
          </div>
        <% else %>
          <div class="mosaic-left">
            <% 5.times do %>
              <%= image_tag "camera.png", crop: :fill %>
            <% end %>
          </div>
          <div class="mosaic-right">
            <%= image_tag "camera.png", crop: :fill %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>Votre concierge n'a pas encore pris de photos de votre bateau !</p>
      <div class="mosaic-container">
        <div class="mosaic-left">
          <% 5.times do %>
            <%= image_tag "camera.png", crop: :fill %>
          <% end %>
        </div>
          <div class="mosaic-right">
            <%= image_tag "camera.png", crop: :fill %>
          </div>
      </div>
    <% end %>
  </div>

<svg width="1024" height="119" viewBox="0 0 1024 119" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 90V0H1023C1023 0 836 25 671 25C506 25 246.5 115.5 161 118C75.5 120.5 0 90 0 90Z" fill="#FFD582"/>
</svg>



  <div class="dashboard-info">
    <div class="card-info user-boat-info">
      <h5>État de mon bateau</h5>
      <br>
      <div class="user-boat-info-checks">

        <div class="checks-categories">
          <p>Vannes d'arrivée d'eau</p>
          <p>Vannes d'arrivée de gaz</p>
          <p>Batteries</p>
          <p>Humidité</p>
        </div>

        <div class="checks-icons">
          <% if @last_visit.present? %>
            <p><% if @last_visit.check1 %>
              <i class="fas fa-check-circle text-success"></i>
            <% else %>
              <i class="fas fa-exclamation-triangle text-warning"></i>
            <% end %></p>

            <p><% if @last_visit.check2 %>
              <i class="fas fa-check-circle text-success"></i>
            <% else %>
              <i class="fas fa-exclamation-triangle text-warning"></i>
            <% end %></p>

            <p><% if @last_visit.check3 %>
              <i class="fas fa-check-circle text-success"></i>
            <% else %>
              <i class="fas fa-exclamation-triangle text-warning"></i>
            <% end %></p>

            <p><% if @last_visit.check4 %>
              <i class="fas fa-check-circle text-success"></i>
            <% else %>
              <i class="fas fa-exclamation-triangle text-warning"></i>
            <% end %></p>
          <% else %>
            <p><i class="fas fa-check-circle no-visit-yet"></i>
              <i class="fas fa-exclamation-triangle no-visit-yet"></i></p>
            <p><i class="fas fa-check-circle no-visit-yet"></i>
              <i class="fas fa-exclamation-triangle no-visit-yet"></i></p>
            <p><i class="fas fa-check-circle no-visit-yet"></i>
              <i class="fas fa-exclamation-triangle no-visit-yet"></i></p>
            <p><i class="fas fa-check-circle no-visit-yet"></i>
              <i class="fas fa-exclamation-triangle no-visit-yet"></i></p>
          <% end %>
        </div>

        <div class="checks-categories2">
          <p>Bouts à bord</p>
          <p>Pare battages</p>
          <p>Propreté du pont</p>
          <p>Amarres</p>
        </div>

        <div class="checks-icons">
          <% if @last_visit.present? %>
            <p><% if @last_visit.check5 %>
              <i class="fas fa-check-circle text-success"></i>
            <% else %>
              <i class="fas fa-exclamation-triangle text-warning"></i>
            <% end %></p>

            <p><% if @last_visit.check6 %>
              <i class="fas fa-check-circle text-success"></i>
            <% else %>
              <i class="fas fa-exclamation-triangle text-warning"></i>
            <% end %></p>

            <p><% if @last_visit.check7 %>
              <i class="fas fa-check-circle text-success"></i>
            <% else %>
              <i class="fas fa-exclamation-triangle text-warning"></i>
            <% end %></p>

            <p><% if @last_visit.check8 %>
              <i class="fas fa-check-circle text-success"></i>
            <% else %>
              <i class="fas fa-exclamation-triangle text-warning"></i>
            <% end %></p>
          <% else %>
            <p><i class="fas fa-check-circle no-visit-yet"></i>
              <i class="fas fa-exclamation-triangle no-visit-yet"></i></p>
            <p><i class="fas fa-check-circle no-visit-yet"></i>
              <i class="fas fa-exclamation-triangle no-visit-yet"></i></p>
            <p><i class="fas fa-check-circle no-visit-yet"></i>
              <i class="fas fa-exclamation-triangle no-visit-yet"></i></p>
            <p><i class="fas fa-check-circle no-visit-yet"></i>
              <i class="fas fa-exclamation-triangle no-visit-yet"></i></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card-info manager-boat-info">
      <%= cl_image_tag @boat.manager.photo, crop: :thumb, gravity: :face, width: 50, height: 50, class: "avatar dropdown-toggle manager-avatar", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <h5>Remarques de <%= @boat.manager.first_name %></h5>
      <br>
      <% if @last_visit.present? %>
        <% if !@last_visit.comment3.nil? && @last_visit.comment3 != "" %>
          <p>Intérieur : <i>"<%= @last_visit.comment2 %>" </i></p>
        <% end %>

        <% if !@last_visit.comment2.nil? && @last_visit.comment2 != "" %>
          <p>Extérieur : <i>"<%= @last_visit.comment3 %>" </i></p>
        <% end %>

        <% if !@last_visit.comment.nil? && @last_visit.comment != ""  %>
          <p><i>"<%= @last_visit.comment %>" </i></p>
        <% end %>
      <% else %>
        <p>Votre concierge n'a pas encore laissé de commentaires sur l'état de votre bateau !</p>
      <% end %>
    </div>
  </div>

  <div class="meteo">
    <div class="meteo-location">
      <img src="https://image.flaticon.com/icons/svg/252/252025.svg" alt="" height="40px">
      <h2 id="meteo-location-city"><%= @boat.address.split(",").first %></h2>
    </div>
    <div class="meteo-weather">
      <div id="weather" data-lat="<%= @boat.latitude %>" data-lon="<%= @boat.longitude %>">
        <div id="meteo-weather-info">
          <h4 id="date"><%= (l(Time.now, format: "%A %Hh%M")).capitalize %></h4>
          <div class="flexbox icon-temp">
            <img id="weather-img" src="" alt="image à afficher" height="70px">
            <h2 id="weather-temp">temperature</h2>
          </div>
          <h4 id="weather-sky">Ciel</h4>
        </div>
      </div>
    </div>
    <div class="meteo-wind">
      <img src="https://image.flaticon.com/icons/svg/1336/1336219.svg" alt="" height="40px">
      <br>
      <h2 id="weather-wind"></h2><h2>m/s</h2>
    </div>
  </div>

<svg width="1024" height="104" viewBox="0 0 1022 104" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1023 13.1457V103.146H0C0 103.146 70 82 374 65.5C678 49 784 3 869.5 0.5C955 -2 1023 13.1457 1023 13.1457Z" fill="#FFE6CE"/>
</svg>

  <div class="dashboard-news">
    <h1>Prochaines actualités</h1>
    <ul>
      <% if !@news_ordered.nil? %>
        <% @news_ordered.each do |actu| %>
          <% if actu.package.kind == "abonnement" %>
            <li class="card-info card-info-news">
              <div class="card-info-news-date"><%= actu.date.strftime("%d-%m-%y") %></div>
              <div class="card-info-news-text">Prochaine visite de votre concierge.</div>
            </li>
          <% elsif actu.package.kind == "offre" %>
            <li class="card-info card-info-news">
              <div class="card-info-news-date"><%= actu.date.strftime("%d-%m-%y") %></div>
              <div class="card-info-news-text">Pack "<%= actu.title %>" réservé pour <%= actu.date.strftime("%H:%M") %>.</div>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>

<svg width="1020" height="115" viewBox="0 0 1020 115" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 90.1457V0.145691H1023C1023 0.145691 712.391 15.4225 671 25.1457C629.609 34.8689 246.5 115.646 161 118.146C75.5 120.646 0 90.1457 0 90.1457Z" fill="#FFE6CE"/>
</svg>


  <div class="dashboard-packages">
      <h1>Sélectionner l'une de nos offres</h1>
      <div id="caroussel-container">
        <div id="carousel">
          <div class="prev caroussel-card" style="background-image: url(<%= asset_path @offre1.photo %>)">
            <h2><%= @offre1.title %></h2>
            <%= link_to "Voir", package_path(@offre1), class: "button-none caroussel-card-button" %>
            <div class="darken darken-carousel-card"></div>
          </div>

          <div class="selected caroussel-card" style="background-image: url(<%= asset_path @offre2.photo %>)">
            <h2><%= @offre2.title %></h2>
            <%= link_to "Voir", package_path(@offre2), class: "caroussel-card-button" %>
            <div class="darken darken-carousel-card"></div>
          </div>

          <div class="next caroussel-card" style="background-image: url(<%= asset_path @offre3.photo %>)">
            <h2><%= @offre3.title %></h2>
            <%= link_to "Voir", package_path(@offre3), class: "button-none caroussel-card-button" %>
            <div class="darken darken-carousel-card"></div>
          </div>

          <div class="hideNextSecond caroussel-card" style="background-image: url(<%= asset_path @offre4.photo %>)">
            <h2><%= @offre4.title %></h2>
            <%= link_to "Voir", package_path(@offre4), class: "button-none caroussel-card-button" %>
            <div class="darken darken-carousel-card"></div>
          </div>
        </div>
        <div class="caroussel-buttons">
          <button id="prev", class="caroussel-bottom-buttons"><strong><</strong></button>
          <button id="next" class = "caroussel-bottom-buttons"><strong>></strong></button>
        </div>
      </div>
  </div>

</div>

