<div class="show-boat-container">
  <div class="row">
    <div class="col-8 col-left-show-boat">
      <div class="content-left-show-boat">
        <h1>Félicitations,</h1>
        <h1>Votre bateau a bien été enregistré!</h1>
        <div class="confirm-booking">
          <div class="confirm-card">
            <div class="confirm-title">
              <p>Votre bateau</p>
            </div>
            <div class="confirm-photo">
              <%= cl_image_tag @boat.photo, class: "avatar-big" %>
              <p><%= @boat.name %></p>
            </div>
            <div class="confirm-boat-infos">
              <p><strong>Port d'attache :</strong> <%= @boat.address.split(',').first %></p>
              <p><strong>Type de bateau :</strong> <%= @boat.category.name %></p>
              <p><strong>Taille :</strong> <%= @boat.dimension.meter %></p>
            </div>
          </div>
          <div class="confirm-card">
            <div class="confirm-title">
              <p>Votre concierge</p>
            </div>
            <div class="confirm-photo">
              <%= cl_image_tag @manager.photo, class: "avatar-big" %>
              <p><%= @manager.first_name %></p>
            </div>
            <div class="confirm-manager-description">
              <%= @manager.description %>
            </div>
          </div>
        </div>
          <div class="valid-buttons">
            <button type="button" class="call-button" data-toggle="modal" data-target="#exampleModal">
              Etre rappelé
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Quand souhaitez-vous être rappelé ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
                    <%= simple_form_for :search, method: "get" do |f| %>
                      <%= f.input :starts_at, :label => "Date :", as: :string, required: false, input_html: {class: "datepicker"} %>
                      <%= f.input :ends_at, :label => "Heure :", as: :string, required: false, input_html: {class: "timepicker"} %>
                      <%= f.button :submit, "Valider", class: "call-button" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
            <%= link_to "M'abonner directement", dashboard_path %>
          </div>
      </div>
    </div>
    <div class="col-4 col-right-show-boat">
      <div class="show-boat-text-image">
        <p>Naviguez en toute liberté</p>
      </div>
    </div>
  </div>
</div>
